<!--LOGIN -->
    <main>
        <section class="form-login">
            <h5>Iniciar Sesión</h5>
            <form method="get" action="login.html" id="loginform">

                <input [(ngModel)]="usuario" class="controls" required type="text" id="user" name="usuario" value="" placeholder="Usuario" >

                <input [(ngModel)]="password" class="controls" required type="password" id="pass" name="contraseña" value="" placeholder="Contraseña">

                <button (click)="validarLogin()" class="buttons"><input class="buttons" type="submit" name="" value="Ingresar"></button>
                <input class="buttons" type="reset" name="" value="Limpiar">
                <p><a href="#">¿Olvidaste tu contraseña?</a></p>
            </form>
        </section>

        <!--LOGIN - REGISTRATE -->
        <section class="form-register">
            <a routerLink="/auth/register">
            <p>¿No tienes cuenta?</p>
            <p>Registrate</p>
            </a>
        </section>
</main>
