<!--Contacto -->
<main>
    <div class="content">
        <h1 class="logo2">Contacto</h1>

        <div class="contact-wrapper animated bounceInUp">

            <div class="contact-form">

                <h3 class="contactanos">Contactanos</h3>

                <form action="">
                    <p>
                        <label>Nombre</label>
                        <input type="text" name="fullname">
                    </p>
                    <p>
                        <label>Dirección de correo</label>
                        <input type="email" name="email">
                    </p>
                    <p>
                        <label>Número de teléfono</label>
                        <input type="tel" name="phone">
                    </p>
                    <p>
                        <label>Asunto</label>
                        <input type="text" name="asunto">
                    </p>
                    <p class="block">
                       <label>Mensaje</label> 
                        <textarea name="message" rows="3"></textarea>
                    </p>
                    <p class="block">
                        <button>
                            Enviar
                        </button>
                    </p>
                </form>
            </div>

            <div class="contact-info">
                <h4>Más Info</h4>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i> Calle Colón</li>
                    <li><i class="fas fa-phone"></i> (34) 171 101 231</li>
                    <li><i class="fas fa-envelope-open-text"></i> contact@xaixa.com</li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero provident ipsam necessitatibus repellendus?</p>
                <p><b>Xaixa.com</b></p>
                <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3080.0034619574294!2d-0.37177750000000004!3d39.46925050000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6048b46f12db89%3A0x681c420303762f87!2sCl.%20de%20Col%C3%B3n%2C%2046004%20Valencia!5e0!3m2!1ses!2ses!4v1685609883881!5m2!1ses!2ses" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

    </div>
</main>