<!--CUENTA USUARIO -->
<main>



    <section class="form-cuenta">

        <div class="welcome-user">
        <h2 class="user-tittle" id="hello-user">Hola, (usuario)</h2>
        <a routerLink="/pages/cuenta"><img class="user-profile" src="./assets/user.png" alt="Imagen usuario"></a>
        </div>
        <p class="controls-cuenta">Tu saldo es de ...</p>

        <p class="controls-cuenta">Total <a routerLink="/pages/transferencias-recibidas">Ingresos</a> = ( ... )</p>

        <p class="controls-cuenta">Total <a routerLink="/pages/transferencias-enviadas">Gastos</a> = ( ... )</p>


        <p class="controls-cuenta"> <a routerLink="#">Cambiar contraseña</a></p>
        
        <p class="controls-cuenta"><a routerLink="/pages/dashboard">Ir al Dashboard</a></p>

    </section>



</main>