.form-nuevatransferencia{

    width: 80%;
    height: 700px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    box-shadow: 7px 13px 37px #000;
    border-top: 4px solid #7f66e3 ;

}

h2{
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.controls-newTransfer{

    width: 100%; 
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    font-size: 18px;
    background-color: transparent;
}

.controls-dashboard{
    width: 30%; 
    margin-left: 38%;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    font-size: 18px;
    background-color: transparent;
}

a{
    text-decoration: none;
    color: #4a1744;
}
a:hover{
    color: rgb(122, 44, 123);
}