<main>

    <section class="form-nuevatransferencia">

        <h2> Nueva transferencia </h2>

        <form method="get" action="">
        <label for="asunto"> Asunto:
        <input class="controls-newTransfer" required type="text" name="asunto">
        </label>
        <label for="id"> ID del Beneficiario:
        <input class="controls-newTransfer" required type="number" name="idBeneficiario">
        </label>
        <label for="Importe"> Importe:
        <input class="controls-newTransfer" required type="number" name="importe"> 
        </label>
        <label>
        <input class="controls-newTransfer" type="submit" value="Enviar">
        </label>
        </form>

        <p class="controls-dashboard"><a routerLink="/pages/dashboard">Ir al Dashboard</a></p>

    </section>



</main>
