<main>
    <section class="form-transferencias-recibidas">
    
        <h2> Transferencias Recibidas</h2>


<div class="fila-tabla cabecera-tabla">
    <div>Concepto</div>
    <div>Importe</div>
    <div>Fecha</div>
</div>
<article class="fila-tabla" *ngFor="let transferencia of transferencias">
    <div>{{ transferencia.concepto }}</div>
    <div>{{ transferencia.importe | currency:"EUR" }}</div>
    <div>{{transferencia.fecha | date:"short"}}</div>
</article>

<p class="go-dashboard"><a routerLink="/pages/dashboard">Ir al Dashboard</a></p>

</section>
</main>
