
.form-dashboard{
    width: 80%;
    height: 970px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    box-shadow: 7px 13px 37px #000;
    border-top: 4px solid #7f66e3 ;
}

.gestor-title{
    font-size: 50px;
    margin-left: 40px;
    margin-top: 50px;
}

.form-gestor{
    width: 92%;
    height: 80%;
    margin: auto;
    margin-top: 40px;
    border-radius: 4px;
    border: solid 2px #8d3376;
}


.user-profile{
    height: 100px;
    width: 100px;
    background-image: ("/assets/user.png");
    background-size: cover;
    border: solid 2px black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 70%;
    border-radius: 50%;
}

.main-menu ul{
    display:grid;
    gap: 18px;
    margin-left: 20%;
    list-style: none;
    padding-left: 0px;
    text-decoration: none;
}

.controls-dashboard{
    width: 50%; 
    padding: 30px;
    border-radius: 4px;
    margin-bottom: 16px;
    margin-right: 80%;
    border: 1px solid #000000;
    font-size: 18px;
    background-color: transparent;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    color: rgb(251, 0, 255);
}