<main>
        <!--CONTENIDO PRINCIPAL - GESTOR -->
<section class="form-dashboard">

        <h2 class="gestor-title">Gestor</h2>

<div class="form-gestor">
<a routerLink="/pages/cuenta"><img class="user-profile" src="./assets/user.png" alt="Imagen usuario"></a>

<nav class="main-menu">
        <ul>
        <li class="controls-dashboard"><a routerLink="/pages/nueva-transferencia">Nueva Transferencia</a></li>
        <li class="controls-dashboard"><a routerLink="/pages/transferencias-recibidas">Transferencias Recibidas</a></li>
        <li class="controls-dashboard"><a routerLink="/pages/transferencias-enviadas">Transferencias Enviadas</a></li>
        <li class="controls-dashboard"><a routerLink="/pages/cuenta">Cuenta</a></li>
        </ul>
</nav>
</div>
</section>
</main>